.search-game-component {
  color: white;
  padding-top: 20px;

  .left {
    display: inline-block;
    width: 80%;

    input {
      height: 30px;
      background-color: #292929;
      color: #0f0;
      border: 0;
      border-radius: 10px;
      outline: 0 !important;
      font-size: 20px;
      padding: 7px 20px;
      font-family: inherit;
    }
  }
  .right {
    display: inline-block;
    float: right;

    img {
      width: 20px;
      height: 20px;
      position: relative;
      right: 35px;
      top: 15px;
    }
  }
}