.game-item-component {
  box-shadow: 5px 5px 20px black;
  margin-left: 25px;
  margin-top: 20px;

  a {
    text-decoration: none;
    font-family: inherit;
  }
  .game-items {
    display: flex;
    justify-content: center;
    height: 240px;
    width: 220px;
    background-color: #464646;
    border: 1px solid #464646;
    border-radius: 7px;

    .game-item-content {
      display: flex;
      flex-direction: column;
      border-radius: inherit;

      img {
        height: 190px;
        width: 220px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      .name {
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 13px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    &:hover {
      border: 1px solid #bbb;
    }
  }
}