$button-border: 1px solid #595;
$button-background: #001900;
$main-items-width: 80%;
$select-items-border-radius: 10px;
$select-items-box-shadow: 5px 5px 10px #222;
$select-items-default-border: 2px solid transparent;

@mixin main-page {
  width: 100%;
  padding: 0 20px;
  box-shadow: 5px 5px 20px #222;
}