.game-reviews {
  border-radius: 7px;
  margin: 50px 0;

  .reviews-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
    margin-left: 10px;
  }

  .review-game {
    display: flex;
    flex-direction: column;

    .review-buttons-container {
      margin: 10px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .review-buttons {
        width: 350px;
        display: flex;
        justify-content: space-between;
      }
    }

    .review-submit {
      margin: 10px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
