@import "../../../util/_variables";

.info-page {
  @include main-page;

  min-height: 500px;
  box-shadow: 5px 5px 20px #222;
  display: flex;
  flex-direction: row;
  padding: 0;

  .left-menu {
    width: 400px;
    background-color: #1c1c1c;
    margin-right: 30px;
    border-top-left-radius: 10px;

    &-item {
      padding: 20px;

      &:hover {
        background-color: black;
      }
    }
  }
}
