.items-table-component {

  .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 20px 0;

    .item {
      margin: 5px 10px;

      &.selected-item {
        img {
          border: 2px solid #ffb;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;

    button {
      margin: 0 5px;
      height: 40px;
      background-color: #333;
      color: white;
      font-family: inherit;
      text-transform: lowercase;
      font-size: 20px;
      line-height: 20px;
      border: 1px solid #333;
      border-radius: 5px;
      padding: 0 20px;
      font-weight: 400;

      &.selected {
        background-color: #666;
      }

      &:hover {
        background-color: #666;
      }
    }
  }
}
