.items-table-component {

  &_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 20px 0;

    .item {
      margin: 5px 10px;

      &.selected-item {
        img {
          border: 2px solid #ffb;
        }
      }
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
