.app-component {

  .categories-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
  }

  .main-section {
    min-height: 500px;
    display: flex;
    justify-content: center;
  }
}
