@import "../../../util/variables";

.category-overview-component {
  padding: 20px;
  width: 100%;
  color: white;

  .header {
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: space-between;
      width: 30%;

      .title {
        font-weight: bolder;
        font-size: 35px;
        text-transform: uppercase;
      }

      .navigation {
        display: flex;
        justify-content: center;
        margin-left: 40px;
        text-transform: uppercase;
        margin-top: 10px;

        .games {
          color: red;
          font-weight: bolder;
          font-size: 22px;

          &:hover {
            cursor: pointer;
            color: white;
          }
        }

        .arrow {
          padding: 0 5px;
          margin-top: -5px;
          font-size: 30px;
        }

        .category-name {
          font-weight: bolder;
          font-size: 22px;
        }
      }
    }

    .right {
      padding-right: 10px;
    }
  }

  .description {
    font-weight: 500;
    font-size: 20px;
    background-color: #223;
    padding: 20px 14px;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  .no-items {
    display: flex;
    justify-content: center;
    color: #ddd;
    margin-top: 100px;
    font-size: 30px;
  }
}
