.contact-component {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20px;
    margin: 15px 0;

    .mandatory {
      color: red;
      font-size: 25px;
    }
  }
  .submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {

    }
  }
}