@import "../../../util/_variables";

.search-page {
  @include main-page;
  font-size: 30px;

  .table {
    box-shadow: 5px 5px 20px black;
  }

  .table-header {
    height: 80px;
    display: flex;
    justify-content: left;
    background-color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 5px;

    .details {
      width: 60%;
      border-right: 1px solid #333;
      height: inherit;
    }
    .count {
      width: 17%;
      height: inherit;
      border-right: 1px solid #333;
      text-align: center;
      padding-top: 20px;
    }
    .likes {
      width: 6%;
      height: inherit;
      display: flex;
      justify-content: center;
      padding-top: 12px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .results-header {
    padding-bottom: 20px;
  }

  .results-count {
    font-size: 30px;
    padding: 20px 0 15px 0;
    font-weight: bold;
  }

  &_pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    button {
      margin: 0 5px;
      height: 40px;
      background-color: #333;
      color: white;
      font-family: inherit;
      text-transform: lowercase;
      font-size: 20px;
      line-height: 20px;
      border: 1px solid #333;
      border-radius: 5px;
      padding: 0 20px;
      font-weight: 400;

      &.selected {
        background-color: #666;
      }

      &:hover {
        background-color: #666;
      }
    }
  }
}